#header {
  display: flex;
  width: fit-content(110%);
  left: 50%;
  right: 50%;
  background-color: lightgray;
  border: 5px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  justify-content: center;
}

#subheader {
  position: relative;
  top: -5px;
  display: flex;
  background-color: white;
  border: 5px solid lightgray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 10px;
  justify-content: space-between;
}

.CalculatorSimulator {
  position: relative;
  align-content: center;
  align-self: center;
  display: flex;
  width: 600px;
  height: 400px;
  border: 5px solid lightgray;
  border-radius: 10px;
  background-color: white;
}

p, text, button {
  font-family: sans-serif;
}

button {
  padding-left: 10px;
  padding-right: 10px;
}