#header {
  display: flex;
  width: 100%;
  background-color: lightgray;
  border-bottom: 5px solid lightgray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 10px;
  justify-content: space-between;
}

#subheader {
  display: flex;
  width: 100%;
  background-color: white;
  border-bottom: 5px solid lightgray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 10px;
  justify-content: space-between;
}